<div class="card bg-light" style="height: 485px;">
   <article class="card-body mx-auto" style="width: 350px;">
      <h4 class="card-title mt-3 text-center">Login</h4>
      <form #userForm="ngForm">
         <div class="form-group input-group">

            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.username" name="username"
               #firstnameVal="ngModel" required>
         </div>
         <div *ngIf="!firstnameVal.valid && firstnameVal.touched">
            <div class="alert alert-danger" *ngIf="firstnameVal.errors.required">Please enter username</div>
         </div>
         <div class="form-group input-group">

            <input type="password" class="form-control" placeholder="Password" name="password"
               [(ngModel)]="user.password" #passVal="ngModel" required>
         </div>
         <div *ngIf="!passVal.valid && passVal.touched">
            <div class="alert alert-danger" *ngIf="passVal.errors.required">Please enter password</div>
         </div>
         <div class="text-center">
         <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid" (click)="Login()">Login</button>
         </div>
         <div class="alert alert-danger" role="alert" style="margin-top: 10px" *ngIf="showinvalidcredentials"> Invalid
            username or password, try again !! </div>
      </form>
   </article>
</div>
